{
  "swagger": "2.0",
  "info": {
    "version": "0.1",
    "title": "League Lytics Football API",
    "description": "The API to football related data on League Lytics"
  },
  "host": "app.leaguelytics.com",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/players": {
      "get": {
        "summary": "Active Players",
        "description": "The players endpoint returns general information regarding players in the system. The endpoint is paginated and will need to be called several times to traverse everything.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The number of players to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to be returned.",
            "type": "integer",
            "format": "int32",
            "default": 1
          },
          {
            "name": "position",
            "in": "query",
            "description": "Returns only players matching the position. Valid value is one of QB, RB, WR, TE, K or DEF.",
            "type": "string",
          },
          {
            "name": "team",
            "in": "query",
            "description": "Returns only players that belong to the team specified. The value should be the team's unique ID",
            "type": "integer",
            "format": "int32"
          }

        ],
        "tags": [
          "Players"
        ],
        "responses": {
          "200": {
            "description": "An array of players",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          },
          "default": {
            "description": "Unexpected Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/players/{id}": {
      "get": {
        "summary": "Returns the player specified by id",
        "description": "This endpoint returns a player object specified by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true,
            "description": "The ID of the player you wish to retrieve"
          }
        ],
        "tags": [
          "Players"
        ],
        "responses": {
          "200": {
            "description": "The player was found and returned",
            "schema": {
              "$ref": "#/definitions/Player"
            }
          },
          "404": {
            "description": "The player was not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Player": {
      "type": "object",
      "properties": {
        "player_id": {
          "type": "integer",
          "description": "Unique identifer for the player object"
        },
        "first_name": {
          "type": "string",
          "description": "Player's first name"
        },
        "last_name": {
          "type": "string",
          "description": "Player's last name"
        },
        "posiiton": {
          "type": "string",
          "description": "Player's normal playing position. Valid values are QB, RB, WR, TE, K and DEF"
        },
        "picture_url": {
          "type": "string",
          "description": "URL pointing to an image of the assoicated player"
        },
        "team_id": {
          "type": "integer",
          "description": "Unique idenfiter for the team that the player belongs to"
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The HTTP status code returned"
        },
        "message": {
          "type": "string",
          "description": "The error message returned with the query"
        }
      }
    }
  }
}
